@model NewsSite.Web.Areas.Administration.InputModels.CategoryEditInputModel
@{
    ViewBag.Title = "Редакция на категория";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("Edit", "Category", new { area = "Administration" }, FormMethod.Post, new { @class = "" }))
{
    @Html.AntiForgeryToken()

    <fieldset>
        <legend>@ViewBag.Title</legend>
        @Html.ValidationSummary()

        @Html.EditorFor(x => x.Name)

        @Html.Partial("_Submit")
    </fieldset>
}